.categories {
  margin: 5px 5px 5px 5px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.light-0 {
    background-color: #c3d6f5;
    color: #310736;
    opacity: 1;
}

.light-1 {
    background-color: #ffdd57;
    color: #310736;
    opacity: 1;
}

.light-2 {
    background-color: #d7ffab;
    color: #310736;
    opacity: 1;
}

.light-3 {
    background-color: #ffbfb7;
    color: #310736;
    opacity: 1;
}

.light-4 {
    background-color: #ffa987;
    color: #310736;
    opacity: 1;
}

.light-5 {
    background-color: #e0acd5;
    color: #310736;
    opacity: 1;
}

.light-6 {
    background-color: #a5d1bd;
    color: #310736;
    opacity: 1;
}

.light-7 {
    background-color: #d4b37c;
    color: #310736;
    opacity: 1;
}

.light-8 {
    background-color: #eef4d4;
    color: #310736;
    opacity: 1;
}

.light-9 {
    background-color: #9ee3de;
    color: #310736;
    opacity: 1;
}

.light-10 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.light-11 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.light-12 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.light-13 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.light-14 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

/** CHECKBOX Bootstrap**/
.custom-control {
  margin: 5px;
  padding: 2px;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: normal;
  text-transform: lowercase;
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1.5rem;
  padding-right: 1.5rem;
}

.custom-control-label {
  margin-bottom: 0;
}

.custom-control-label::before {
  position: absolute;
  top: 0.35rem;
  right: 0.2rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #dee2e6;
}

.custom-control-label::after {
  position: absolute;
  top: 0.35rem;
  right: 0.2rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #007bff;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:active ~ .custom-control-label::before {
  color: #fff;
  background-color: #b3d7ff;
}

.custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #007bff;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(0, 123, 255, 0.5);
}
