.categories {
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* From https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* Customize the label (the container) */

.categories .light {
    margin: 5px 5px 5px 5px;
}

.light {
    border-radius: 2px;
    color: rgba(0,0,0,0.48);
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.2;
    opacity: 0.5;
    padding: 2px 4px;
    text-transform: lowercase;
    white-space: nowrap;
}

.light-0 {
    background-color: #c3d6f5;
    color: #310736;
    opacity: 1;
}

.light-1 {
    background-color: #ffdd57;
    color: #310736;
    opacity: 1;
}

.light-2 {
    background-color: #d7ffab;
    color: #310736;
    opacity: 1;
}

.light-3 {
    background-color: #ffbfb7;
    color: #310736;
    opacity: 1;
}

.light-4 {
    background-color: #ffa987;
    color: #310736;
    opacity: 1;
}

.light-5 {
    background-color: #e0acd5;
    color: #310736;
    opacity: 1;
}

.light-6 {
    background-color: #a5d1bd;
    color: #310736;
    opacity: 1;
}

.light-7 {
    background-color: #d4b37c;
    color: #310736;
    opacity: 1;
}

.light-8 {
    background-color: #eef4d4;
    color: #310736;
    opacity: 1;
}

.light-9 {
    background-color: #9ee3de;
    color: #310736;
    opacity: 1;
}

.light-10 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.light-11 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.light-12 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.light-13 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.light-14 {
    background-color: rgba(50,115,220,0.29);
    color: #310736;
    opacity: 1;
}

.categoryContainer {
  display: block;
  position: relative;
  padding-right: 5px;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.categoryContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.categoryCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.categoryContainer:hover input ~ .categoryCheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.categoryContainer input:checked ~ .categoryCheckmark {
  background-color: #0CF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.categoryCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.categoryContainer input:checked ~ .categoryCheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.categoryContainer .categoryCheckmark:after {
  left: 5px;
  top: 5px;
  width: 5px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
