footer {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #222;
}

footer div {
  margin: 0;
  padding: 15px;
}

footer a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}
