header {
  position: relative;
  flex: 0 1 auto;
  display: inline-flex;
  justify-content: center;
  background-color: #222;
}

header div {
  margin: 0;
  padding: 10px;
  color: white;
}

.headerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  display: flex;
}

header img {
  height: 100px;
}

header h1 {
  margin: 0;
  padding: 15px 0 0 15px;
}

header h2 {
  margin: 0;
  padding-left: 60px;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  header img {
    height: 40px;
  }
  header h1 {
    padding: 5px 0 0 5px;
    font-size: 1.2em;
  }
  header h2 {
    padding-left: 20px;
    font-size: 1.1em;
  }
}
