header {
  flex: 0 1 auto;
  display: inline-flex;
  justify-content: center;
  background-color: #222;
}

header div {
  margin: 0;
  padding: 10px;
  color: white;
}

header a {
  display: flex;
}

header img {
  height: 100px;
}

header h1 {
  margin: 0;
  padding: 15px 0 0 15px;
}

header h2 {
  margin: 0;
  padding-left: 60px;
  font-weight: normal;
}
