.container {
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.categoriesArea {
  padding: 10px;
  width: 50%;
  align-self: center;
  justify-content: center;
  display: flex;
}

.contribute {
  margin: 10px;
  width: 50%;
  align-self: center;
  border-top: 1px solid lightgrey;
  border-radius: 2px;
}

.contribute h2 {
  text-align: center;
  padding: 0 10px;
  color: #bf1919;
}

.contribute p {
  text-align: center;
  padding: 0 10px;
}

.searchArea {
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.modulesList {
  padding: 10px;
  width: 50%;
  align-self: center;
  flex-grow: 1;
}

.module {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
}

.module a {
  text-decoration: none;
  color: rgb(0, 100, 155);
}

.module:hover {
  background-color: rgba(0, 204, 255, 0.1);
}

.moduleCategory {
  color: #888;
}

.navButton {
  display: none;
}

@media only screen and (max-width: 600px) {
  .categoriesArea {
    width: 100%;
  }
  .searchArea {
    width: 100%;
  }
  .modulesList {
    padding: 5px 0 0 0;
    width: 100%;
  }
}
