.container {
  display: flex;
  flex: 1 1 0px;
  flex-direction: row;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  border-right: 1px solid #0CF;
}

nav ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  flex-grow: 1;
}

nav li {
  border-radius: 2px;
}

nav li:hover {
  background-color: rgba(0, 205, 255, 0.1);
}

.navButton {
  display: none;
}

#menu a {
  display: block;
  padding: 5px;
}

.contribute {
  margin: 10px;
  align-self: center;
  border-top: 1px solid lightgrey;
  border-radius: 2px;
}

.contribute h2 {
  text-align: center;
  color: #bf1919;
}

.contribute p {
  text-align: center;
}

.hidden {
  display: none;
}

.content {
  flex: 1 1 auto;
  padding: 0 10px 20px 10px;
  overflow: auto;
}

.content p {
    margin-left: 20px;
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
  margin: 0 -10px 10px -10px;
  padding: 10px;
  font-weight: normal;
  background-color: rgba(0, 205, 255, 0.1);
}

.copyPasteButton {
  position: absolute;
  top: 0;
  right: 0;
  border: 0px solid black;
  border-radius: 2px;
  padding: 8px 8px;
  background-color: #084887;
  font-size: 1em;
  color: #f9ab55;
}

.copyPasteButton p {
  margin: 0;
}

.content img {
  margin: auto;
  width: 100%;
  display: block;
  text-align: center;
}

.content table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 16px 40px;
}

.content table td, .content table th {
    border: 1px #ffdd57 solid;
    padding: 8px;
}

.content table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffdd57;
    color: black;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .contribute {
    display: none;
  }

  nav {
    display: none;
    height: 500px;
  }

  .navButton {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: orange;
  }

  .navButton button {
    background: none;
    border: none;
  }

  .navButton button:focus {
    outline: none;
  }

  #navImage {
    fill: white;
  }

  #navImageClose {
    display: none;
    fill: white;
  }
}
