/** IMPORT **/
@import "media.css";

/** GLOBAL **/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  min-height: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #444;
  position: relative;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body>section {
  border-bottom: 0.125rem solid #EFEFEF;
}

a {
  text-decoration: none;
  color: #00007F;
}

p {
  line-height: 1.375rem;
}

a:hover {
  color: #0000FF;
}

/** HEADER **/
header {
  min-height: 3.75rem;
  display: flex;
  flex-direction: row;
  background-color: #FFF;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 0.125rem solid #EFEFEF;
  position: sticky;
  top: 0;
  z-index: 1;
}

header img {
  height: 2.5rem;
  margin: 0 3.75rem 0 1rem;
  vertical-align: middle;
}

header #headerSymbol {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 990px;
}

#donate {
  background-color: #00007F;
  color: #fff;
  font-weight: 900;
  padding: 0 0.25rem;
}

header a.icon {
  display: none;
  margin: 0 1.25rem;
  font-size: 1.56rem;
}

/** MAIN **/
#main {
  display: flex;
  flex-direction: row;
  background-color: #F7F7F9;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  flex: 1;
}

/** SIDE NAVIGATION **/
#sideNavigation {
  width: 30%;
  border-right: 0.125rem solid #EFEFEF;
}

.side-nav {
  position: sticky;
  top: 5.3rem;
}

.categoriesArea, .searchArea, .modulesList {
  margin: .5rem 1rem .5rem 1rem;
}

/** CATEGORIES TAGS **/
#sideNavigation .categoriesArea {
  background-color: #FFF;
  border: 1px solid #DDD;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 1.875rem;
}

#sideNavigation .categoriesArea:focus-within {
  border: 1px solid #00007F;
}

#sideNavigation .categoriesArea i {
  color: #00007F;
  margin: 7px;
}

/** SEARCH AREA **/
#sideNavigation .searchArea {
  background-color: #FFF;
  height: 1.875rem;
}

#sideNavigation .searchArea i {
  color: grey;
}

#sideNavigation .search label {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#sideNavigation .search input {
  padding: 0 4px 0 30px;
  flex: 1 1 auto;
  font-size: 1em;
  border: 1px solid #ddd;
  color: #222;
  background-color: white;
  line-height: 1.75rem;
  max-width: 100%;
}

#sideNavigation .search input:focus {
  border: 1px solid #00007F;
}

#sideNavigation .search svg {
  height: 24px;
  position: absolute;
}

#sideNavigation .search svg g {
  fill: #00007F;
}

/** MODULES LIST **/
#modulesList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#modulesList a {
  margin: .3rem 0;
  color: #444 !important;
}

#modulesList a:hover {
  color: #0000FF !important;
}

#modulesList .current {
  color: #00007F !important;
}

.hidden {
  display: none;
}

#modulesList li {
  list-style-type: none;
  margin: .7rem 0;
}

#menu {
  padding: 0;
}

/**  ALGORITHM DISPLAY **/
#algoDisplay {
  width: 70%;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  overflow-y: auto;
}

#algoDisplay h1, #algoDisplay h2, #algoDisplay h3, #algoDisplay h4, #algoDisplay h5, #algoDisplay h6 {
  margin: 0;
  background-color: #F7F7F9;
  padding: 1rem;
  font-weight: 700;
}

#algoDisplay p, .MathJax_Display {
  margin: 1rem !important;
}

#algoDisplay figure.highlight {
  background-color: #EFEFEF;
}

#algoDisplay figure pre {
  display: block;
  overflow-x: auto;
  margin: 0;
  padding: 10px;
}

#algoDisplay table {
  margin: 20px 40px;
  background-color: #EFEFEF;
}

#algoDisplay tbody {
  background-color: #FFF;
}

#algoDisplay table img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#home img {
  position: absolute;
  width: 25%;
}

#home .top-right {
  top: 0;
  right: 0;
}

#home .bottom-left {
  bottom: 0;
  left: 0;
}

#home h1 {
  flex: 0;
  max-width: 50%;
  background-color: transparent;
}

#home div {
  flex: 0 1 auto;
  max-width: 50%;
  background-color: #F7F7F9;
  padding: 1rem;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#home p {
  margin: 0 !important;
  padding: 0.55rem;
  font-size: 1.2rem;
}

#home .header-github {
  margin: 0.55rem;
  display: grid;
  grid-template-rows: 1.5rem 1.5rem;
  grid-template-columns: auto auto;
  align-items: center;
  grid-gap: 0 0.5rem;
}

#home .header-github i {
  grid-row: 1 / 3;
  grid-column: 2;
  font-size: 30px;
}

#home .header-github-title {
  grid-row: 1;
  grid-column: 1;
  justify-self: right;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 0.9em;
  color: #00007F;
}

#home .header-github-stars {
  grid-row: 2;
  grid-column: 1;
  justify-self: right;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  display: none;
  color: #00007F;
}

#home .header-github:hover {
  color: #0000FF;
}

#home .header-github:hover>i {
  color: #0000FF;
}

#home .header-github:hover>.header-github-title {
  color: #0000FF;
}

#home .header-github:hover>.header-github-stars {
  color: #0000FF;
}

/** SCROLLBAR DESIGN **/
body::-webkit-scrollbar {
  width: .55rem;
}

::-webkit-scrollbar {
  width: .27rem;
  height: .27rem;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000FF;
}
