---
permalink: /404.html
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404</title>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/html.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/header.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/footer.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/404.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/favicon.png"/>
  </head>
  <body>
    {% include header.html %}

    <div class="container">
      <h1>404</h1>

      <h2>Page not found :(</h2>
      
      <h2>Got to <a href="{{ site.url }}{{ site.baseurl }}">Home</a></h2>
      
      
    </div>

    {% include footer.html %}
  </body>
</html>
