<header>
	<a href="{{ site.url }}{{ site.baseurl }}"><img src="{{ site.url }}{{ site.baseurl }}/img/FreeFem_Modules.svg" alt="FreeFEM logo" id="headerLogo" /></a>

	<nav id="topNav" class="top-nav">
		<a href="https://freefem.org/" target="_blank">HOME</a>
		<a href="https://doc.freefem.org" target="_blank">DOCUMENTATION</a>
		<a href="https://community.freefem.org" target="_blank">COMMUNITY</a>
		<a href="https://github.com/FreeFem" target="_blank">SOURCE CODE</a>
		<a href="https://freefem.org/gallery.html">GALLERY</a>
		<a href="https://freefem.org/index.html#events" onclick="openNav()">EVENTS</a>
		<a href="https://freefem.org/tryit.html">TRY IT ONLINE</a>
		<a href="#" id="donate">DONATE</a>
	</nav>
	<a href="javascript:void(0);" class="icon" onclick="openNav()">
		<i class="fa fa-bars"></i>
	</a>
</header>
