<head>
	{% include html_mathjax %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{{ site.url }}{{ site.baseurl }}/img/Symbole.png" type="image/png">
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,900" rel="stylesheet">
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/custom_choices.css">
	<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/pygments.css">
	<script src="{{ site.url }}{{ site.baseurl }}/js/moduleTags.js"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/js/moduleSearch.js"></script>
	<script src="{{ site.url }}{{ site.baseurl }}/js/fetchModule.js"></script>
	<title>FreeFEM - {{ page.title }}</title>
</head>
