<nav id="nav">
  <div class="categoriesArea">
    {% include categories.html %}
  </div>
  <div class="searchArea">
    {% include search.html %}
  </div>

  <ul id="menu">
    <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
    {% for module in site.modules %}
    <li>
      <a href="{{ site.url }}{{ site.baseurl }}{{ module.url}}">
        {{ module.name }}
      </a>
      <span class="hidden">{{ module.category }}</span>
    </li>
    {% endfor %}
  </ul>
  <div class="contribute">
    <h2>We need your help !</h2>
    <p>Help us build the largest cutting edge algorithms repository.<br/>Join us on GitHub and <a href="https://github.com/FreeFem/FreeFem-modules/blob/master/CONTRIBUTING.md">share your knowledge</a> with the FreeFEM++ community.</p>
  </div>
</nav>
