<!DOCTYPE html>
<html lang="en">
  <head>
    {% include html_mathjax %}
    <title>{{site.title}} - {{page.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/html.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/header.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/footer.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/module.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/categories.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/search.css" />
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/pygments.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}{{ site.baseurl }}/favicon.png"/>
    <script src="{{ site.url }}{{ site.baseurl }}/js/moduleSearch.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/js/moduleCategories.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
  </head>
  <body>
    {% include header.html %}

    <div class="container">
      {% include nav.html %}

      {% for module in site.modules %}
        <script>
          addToCategories('{{module.category}}')
        </script>
      {% endfor %}

      <div class="content">
        {{ content }}
      </div>
    </div>



    <script src="{{ site.url }}{{ site.baseurl }}/js/copyPasteCode.js"></script>
  </body>
</html>
